<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Stack Multipurpose HTML Template22</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site Description Here">
    <link href="./css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
</head>

<body>
    <div class="main-container">
        <section class="text-center space--md">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="typed-headline">
                            <span class="h2 inline-block">MIRO WANTS</span>
                            <span class="h2 inline-block typed-text typed-text--cursor color--primary"
                                data-typed-strings="engage audiences,convert visitors,forge ahead,establish brands,target customers,disrupt industries,communicate">words
                                you..</span>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <div class="text-center">
            <table class="table table-hover" style="margin: 0 0 0 0">
                <thead>
                    <tr>
                        <th scope="col" class="col-sm-1" style="text-align: center">번호</th>
                        <th scope="col" class="col-sm-6" style="text-align: center">제목</th>
                        <th scope="col" class="col-sm-1">작성자</th>
                        <th scope="col" class="col-sm-3" style="text-align: center">작성일</th>
                        <th scope="col" class="col-sm-2">조회수</th>
                    </tr>
                </thead>
            </table>
            <% if(boards){ %>
                <% for(var i=boards.length-1;i>=0; i--){%>
            <section class="space--xs blog-article-wide" style="margin:0 0 0 0;padding:0 0 0 0">
                <div class="container" style="text-align: left">
                    <div class="row">
                        <div class="cta cta--horizontal text-center-xs">
                            <div class="col-sm-1">
                                <h4><%= i+1%></h4>
                            </div>
                            <div class="col-sm-6">
                                <p class="lead">
                                        <%= boards[i].title %>
                                </p>
                            </div>
                            <div class="col-sm-1">
                                <h4><%= boards[i].author%></h4>
                            </div>
                            <div class="col-sm-3" style="text-align: center">
                                <h4><%= boards[i].created_at%></h4>
                            </div>
                            <div class="col-sm-1" style="text-align: center">
                                <h4><%= boards[i].hits%></h4>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <%}}%>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pagination">
                                <a class="pagination__prev" href="#" title="Previous Page">&laquo;</a>
                                <ol>
                                    <li>
                                        <a href="#">1</a>
                                    </li>
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a href="#">3</a>
                                    </li>
                                    <li>
                                        <a href="#">4</a>
                                    </li>
                                </ol>
                                <a class="pagination__next" href="#" title="Next Page">&raquo;</a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
    </div>
</body>

</html>